*{
    margin: 0;padding: 0;
}
a{text-decoration: none;}
kbd{border: 1px solid red  ;width: 6em;height: 6em;display: inline-block;/*把内联元素属性去掉*/
text-transform: uppercase/*把小写字母变成大写*/;
position: relative;}
kbd>button{
    position: absolute;/*相对定位*/
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover>button{
    display: inline-block;
}
main{
    text-align: center;
}
#jian{
    display:  inline-block;
}
#jian >div:nth-child(2){
    margin-left: 2em;/*把第二行向右移一个字母*/
}
#jian >div:nth-child(3){
    margin-left: 4em;
}